In [1]:
from collections import Counter 

import pandas as pd
import numpy as np
import re

In [2]:
data_path = "data/"
df = pd.read_csv(data_path + "train.csv")
# df = pd.read_csv(data_path + "processed_train.csv")

In [3]:
# df = df[:200]
df

,raw_address,POI/street
0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika
1,setu siung 119 rt 5 1 13880 cipayung,/siung
2,toko dita kertosono,toko dita/
3,jl. orde baru,/jl. orde baru
4,raya samb gede 299 toko bb kids,toko bb kids/raya samb gede
...,...,...
268001,karawaci baru kakap raya 156 rt 1 rw 3 karawaci,/kakap raya
268002,jend ahmad yani 331 kertasari ciamis,/jend ahmad yani
268003,raya cila kko cilandak timur kel.,/raya cila kko
268004,jalan cipadu jaya taman asri gang bijaksana 3 ...,taman asri/
268005,jaya maspion permata blok beryl b2 no 58,jaya maspion permata/

In [4]:
len(df[df["POI/street"] == "/"])

0

In [5]:
df["Empty"] = df["POI/street"].apply(lambda x : x == "/")
df = df[df["Empty"] == False]

In [6]:
df

,raw_address,POI/street,Empty
0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika,False
1,setu siung 119 rt 5 1 13880 cipayung,/siung,False
2,toko dita kertosono,toko dita/,False
3,jl. orde baru,/jl. orde baru,False
4,raya samb gede 299 toko bb kids,toko bb kids/raya samb gede,False
...,...,...,...
268001,karawaci baru kakap raya 156 rt 1 rw 3 karawaci,/kakap raya,False
268002,jend ahmad yani 331 kertasari ciamis,/jend ahmad yani,False
268003,raya cila kko cilandak timur kel.,/raya cila kko,False
268004,jalan cipadu jaya taman asri gang bijaksana 3 ...,taman asri/,False
268005,jaya maspion permata blok beryl b2 no 58,jaya maspion permata/,False

In [7]:
def getPOI(s) :
    return s.split("/")[0]

def getStreet(s) :
    return s.split("/")[1]

def split(s) :
    return s.split(" ")

In [8]:
df["POI"] = df["POI/street"].apply(getPOI)
df["Street"] = df["POI/street"].apply(getStreet)

In [9]:
df

,raw_address,POI/street,Empty,POI,Street
0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika,False,,jl kapuk timur delta sili iii lippo cika
1,setu siung 119 rt 5 1 13880 cipayung,/siung,False,,siung
2,toko dita kertosono,toko dita/,False,toko dita,
3,jl. orde baru,/jl. orde baru,False,,jl. orde baru
4,raya samb gede 299 toko bb kids,toko bb kids/raya samb gede,False,toko bb kids,raya samb gede
...,...,...,...,...,...
268001,karawaci baru kakap raya 156 rt 1 rw 3 karawaci,/kakap raya,False,,kakap raya
268002,jend ahmad yani 331 kertasari ciamis,/jend ahmad yani,False,,jend ahmad yani
268003,raya cila kko cilandak timur kel.,/raya cila kko,False,,raya cila kko
268004,jalan cipadu jaya taman asri gang bijaksana 3 ...,taman asri/,False,taman asri,
268005,jaya maspion permata blok beryl b2 no 58,jaya maspion permata/,False,jaya maspion permata,

In [10]:
# Empty POI
len(df[df['POI'] == ''])

146516

In [11]:
# Empty Street
len(df[df['Street'] == ''])

38150

In [12]:
df["SplitStreet"] = df["Street"].apply(split)
df["SplitPOI"] = df["POI"].apply(split)
df["SplitRaw"] = df["raw_address"].apply(split)

In [13]:
def f(words, sentence): 
    res = []
    for word in words :
        if sentence.find(word) == -1 :
            res.append(word)
    if len(res) == 0 :
        return False
    return res

In [14]:
df['TransformedPOI'] = df.apply(lambda x: f(x.SplitPOI, x.raw_address), axis=1)
df['TransformedStreet'] = df.apply(lambda x: f(x.SplitStreet, x.raw_address), axis=1)

In [15]:
ndf = df[df["TransformedPOI"] == False]
ndf = ndf[ndf["TransformedStreet"] == False]
ndf

,raw_address,POI/street,Empty,POI,Street,SplitStreet,SplitPOI,SplitRaw,TransformedPOI,TransformedStreet
0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika,False,,jl kapuk timur delta sili iii lippo cika,"[jl, kapuk, timur, delta, sili, iii, lippo, cika]",[],"[jl, kapuk, timur, delta, sili, iii, lippo, ci...",False,False
1,setu siung 119 rt 5 1 13880 cipayung,/siung,False,,siung,[siung],[],"[setu, siung, 119, rt, 5, 1, 13880, cipayung]",False,False
2,toko dita kertosono,toko dita/,False,toko dita,,[],"[toko, dita]","[toko, dita, kertosono]",False,False
3,jl. orde baru,/jl. orde baru,False,,jl. orde baru,"[jl., orde, baru]",[],"[jl., orde, baru]",False,False
4,raya samb gede 299 toko bb kids,toko bb kids/raya samb gede,False,toko bb kids,raya samb gede,"[raya, samb, gede]","[toko, bb, kids]","[raya, samb, gede, 299, toko, bb, kids]",False,False
...,...,...,...,...,...,...,...,...,...,...
268001,karawaci baru kakap raya 156 rt 1 rw 3 karawaci,/kakap raya,False,,kakap raya,"[kakap, raya]",[],"[karawaci, baru, kakap, raya, 156, rt, 1, rw, ...",False,False
268002,jend ahmad yani 331 kertasari ciamis,/jend ahmad yani,False,,jend ahmad yani,"[jend, ahmad, yani]",[],"[jend, ahmad, yani, 331, kertasari, ciamis]",False,False
268003,raya cila kko cilandak timur kel.,/raya cila kko,False,,raya cila kko,"[raya, cila, kko]",[],"[raya, cila, kko, cilandak, timur, kel.]",False,False
268004,jalan cipadu jaya taman asri gang bijaksana 3 ...,taman asri/,False,taman asri,,[],"[taman, asri]","[jalan, cipadu, jaya, taman, asri, gang, bijak...",False,False
268005,jaya maspion permata blok beryl b2 no 58,jaya maspion permata/,False,jaya maspion permata,,[],"[jaya, maspion, permata]","[jaya, maspion, permata, blok, beryl, b2, no, 58]",False,False

In [18]:
# ndf = ndf.replace("", np.NaN)
cleandf = ndf.dropna()
cleandf = cleandf[["raw_address","POI", "Street"]]
cleandf

,raw_address,POI,Street
0,jl kapuk timur delta sili iii lippo cika 11 a ...,,jl kapuk timur delta sili iii lippo cika
1,setu siung 119 rt 5 1 13880 cipayung,,siung
2,toko dita kertosono,toko dita,
3,jl. orde baru,,jl. orde baru
4,raya samb gede 299 toko bb kids,toko bb kids,raya samb gede
...,...,...,...
268001,karawaci baru kakap raya 156 rt 1 rw 3 karawaci,,kakap raya
268002,jend ahmad yani 331 kertasari ciamis,,jend ahmad yani
268003,raya cila kko cilandak timur kel.,,raya cila kko
268004,jalan cipadu jaya taman asri gang bijaksana 3 ...,taman asri,
268005,jaya maspion permata blok beryl b2 no 58,jaya maspion permata,

In [19]:
def comma_preprocess(s) :
    s = s.replace("\t", " ")
    s = re.sub(r'([,/\\]+)', r' \1 ', s) # 
    s = re.sub(' +', ' ', s) # change multiple spaces into one space
    return s.strip()

s = "raya samb gede, 299 toko bb kids"
s = "jl. amd, komplek borneo lestari, blok 2, no. 30"
comma_preprocess(s)

'jl. amd , komplek borneo lestari , blok 2 , no. 30'

In [20]:
cleandf["Address"] = cleandf["raw_address"].apply(comma_preprocess)

In [21]:
cleandf

,raw_address,POI,Street,Address
0,jl kapuk timur delta sili iii lippo cika 11 a ...,,jl kapuk timur delta sili iii lippo cika,jl kapuk timur delta sili iii lippo cika 11 a ...
1,setu siung 119 rt 5 1 13880 cipayung,,siung,setu siung 119 rt 5 1 13880 cipayung
2,toko dita kertosono,toko dita,,toko dita kertosono
3,jl. orde baru,,jl. orde baru,jl. orde baru
4,raya samb gede 299 toko bb kids,toko bb kids,raya samb gede,raya samb gede 299 toko bb kids
...,...,...,...,...
268001,karawaci baru kakap raya 156 rt 1 rw 3 karawaci,,kakap raya,karawaci baru kakap raya 156 rt 1 rw 3 karawaci
268002,jend ahmad yani 331 kertasari ciamis,,jend ahmad yani,jend ahmad yani 331 kertasari ciamis
268003,raya cila kko cilandak timur kel.,,raya cila kko,raya cila kko cilandak timur kel.
268004,jalan cipadu jaya taman asri gang bijaksana 3 ...,taman asri,,jalan cipadu jaya taman asri gang bijaksana 3 ...
268005,jaya maspion permata blok beryl b2 no 58,jaya maspion permata,,jaya maspion permata blok beryl b2 no 58

In [22]:
def create_label(s, poi, street) :
    tokens = s.split(" ")
    n = len(tokens)
    tp = poi.split(" ")
    ts = street.split(" ")
    tags = []
    i = 0
    while i < n :
        if len(tp) > 0 and tokens[i] == tp[0] :
            j = 1
            while j < len(tp) :
                if i+j < n and tokens[i+j] == tp[j]:
                    j += 1
                else :
                    break
            if j == len(tp) :
                tags.append("B-ORGANISATION")
                for k in range(1, j) :
                    tags.append("I-ORGANISATION")
                i += j
            else :
                tags.append("O")
                i += 1
        elif len(ts) > 0 and tokens[i] == ts[0] :
            j = 1
            while j < len(ts) :
                if i+j < n and tokens[i+j] == ts[j] :
                    j += 1
                else :
                    break
            if j == len(ts) :
                tags.append("B-PLACE")
                for k in range(1, j) :
                    tags.append("I-PLACE")
                i += j
            else :
                tags.append("O")
                i += 1                
        else :
            tags.append("O")
            i += 1
        
#         print(tokens)
#         print(tags)

    if tokens[-1] != "." :
        tokens.append(".")
        tags.append("O")
    
    res = ""
#     print(tokens)
#     print(tags)
    for token, tag in zip(tokens, tags) :
        res += "{}\t{}\n".format(token, tag)
    return res

In [23]:
s = "raya samb gede , 299 toko bb kids"
poi = "toko bb kids"
street = "raya samb gede"
res = create_label(s, poi, street)
print(res)

raya	B-PLACE
samb	I-PLACE
gede	I-PLACE
,	O
299	O
toko	B-ORGANISATION
bb	I-ORGANISATION
kids	I-ORGANISATION
.	O

In [24]:
cleandf["Label"] = cleandf.apply(lambda x: create_label(x.Address, x.POI, x.Street), axis=1)

In [25]:
cleandf

,raw_address,POI,Street,Address,Label
0,jl kapuk timur delta sili iii lippo cika 11 a ...,,jl kapuk timur delta sili iii lippo cika,jl kapuk timur delta sili iii lippo cika 11 a ...,jl\tB-PLACE\nkapuk\tI-PLACE\ntimur\tI-PLACE\nd...
1,setu siung 119 rt 5 1 13880 cipayung,,siung,setu siung 119 rt 5 1 13880 cipayung,setu\tO\nsiung\tB-PLACE\n119\tO\nrt\tO\n5\tO\n...
2,toko dita kertosono,toko dita,,toko dita kertosono,toko\tB-ORGANISATION\ndita\tI-ORGANISATION\nke...
3,jl. orde baru,,jl. orde baru,jl. orde baru,jl.\tB-PLACE\norde\tI-PLACE\nbaru\tI-PLACE\n.\...
4,raya samb gede 299 toko bb kids,toko bb kids,raya samb gede,raya samb gede 299 toko bb kids,raya\tB-PLACE\nsamb\tI-PLACE\ngede\tI-PLACE\n2...
...,...,...,...,...,...
268001,karawaci baru kakap raya 156 rt 1 rw 3 karawaci,,kakap raya,karawaci baru kakap raya 156 rt 1 rw 3 karawaci,karawaci\tO\nbaru\tO\nkakap\tB-PLACE\nraya\tI-...
268002,jend ahmad yani 331 kertasari ciamis,,jend ahmad yani,jend ahmad yani 331 kertasari ciamis,jend\tB-PLACE\nahmad\tI-PLACE\nyani\tI-PLACE\n...
268003,raya cila kko cilandak timur kel.,,raya cila kko,raya cila kko cilandak timur kel.,raya\tB-PLACE\ncila\tI-PLACE\nkko\tI-PLACE\nci...
268004,jalan cipadu jaya taman asri gang bijaksana 3 ...,taman asri,,jalan cipadu jaya taman asri gang bijaksana 3 ...,jalan\tO\ncipadu\tO\njaya\tO\ntaman\tB-ORGANIS...
268005,jaya maspion permata blok beryl b2 no 58,jaya maspion permata,,jaya maspion permata blok beryl b2 no 58,jaya\tB-ORGANISATION\nmaspion\tI-ORGANISATION\...

In [26]:
final = cleandf.sample(frac=1, random_state=0).reset_index(drop=True)
final

,raw_address,POI,Street,Address,Label
0,yves rocher jl kali pompa tegalsari,yves rocher,jl kali pompa,yves rocher jl kali pompa tegalsari,yves\tB-ORGANISATION\nrocher\tI-ORGANISATION\n...
1,jat 242 jatihandap mandalajati,,jat,jat 242 jatihandap mandalajati,jat\tB-PLACE\n242\tO\njatihandap\tO\nmandalaja...
2,lemb ii lama 4 ciledug,,lemb ii lama,lemb ii lama 4 ciledug,lemb\tB-PLACE\nii\tI-PLACE\nlama\tI-PLACE\n4\t...
3,serpong raya no k10 10 indomaret gunung sindur...,indomaret,serpong raya,serpong raya no k10 10 indomaret gunung sindur...,serpong\tB-PLACE\nraya\tI-PLACE\nno\tO\nk10\tO...
4,siti amb subulussalam,,siti amb,siti amb subulussalam,siti\tB-PLACE\namb\tI-PLACE\nsubulussalam\tO\n...
...,...,...,...,...,...
267670,masjid jami baiturrahman pram larangan,masjid jami baiturrahman,pram,masjid jami baiturrahman pram larangan,masjid\tB-ORGANISATION\njami\tI-ORGANISATION\n...
267671,raya dadap 102 dadap kosambi,,raya dadap,raya dadap 102 dadap kosambi,raya\tB-PLACE\ndadap\tI-PLACE\n102\tO\ndadap\t...
267672,dusun tinggi desa embung kandong kecamatan ter...,embung kandong,,dusun tinggi desa embung kandong kecamatan ter...,dusun\tO\ntinggi\tO\ndesa\tO\nembung\tB-ORGANI...
267673,jaya imperial park cluster imperial terrace bl...,jaya imperial park,,jaya imperial park cluster imperial terrace bl...,jaya\tB-ORGANISATION\nimperial\tI-ORGANISATION...
267674,naro per xi pengasinan rawalumbu,,naro per xi,naro per xi pengasinan rawalumbu,naro\tB-PLACE\nper\tI-PLACE\nxi\tI-PLACE\npeng...

In [27]:
n = len(final)
nt = int(0.95 * n)
train = final[:nt+1]
test = final[nt:]

In [28]:
train

,raw_address,POI,Street,Address,Label
0,yves rocher jl kali pompa tegalsari,yves rocher,jl kali pompa,yves rocher jl kali pompa tegalsari,yves\tB-ORGANISATION\nrocher\tI-ORGANISATION\n...
1,jat 242 jatihandap mandalajati,,jat,jat 242 jatihandap mandalajati,jat\tB-PLACE\n242\tO\njatihandap\tO\nmandalaja...
2,lemb ii lama 4 ciledug,,lemb ii lama,lemb ii lama 4 ciledug,lemb\tB-PLACE\nii\tI-PLACE\nlama\tI-PLACE\n4\t...
3,serpong raya no k10 10 indomaret gunung sindur...,indomaret,serpong raya,serpong raya no k10 10 indomaret gunung sindur...,serpong\tB-PLACE\nraya\tI-PLACE\nno\tO\nk10\tO...
4,siti amb subulussalam,,siti amb,siti amb subulussalam,siti\tB-PLACE\namb\tI-PLACE\nsubulussalam\tO\n...
...,...,...,...,...,...
254287,kotabaru pang dip 14 serang,,pang dip,kotabaru pang dip 14 serang,kotabaru\tO\npang\tB-PLACE\ndip\tI-PLACE\n14\t...
254288,kos umum bay,kos umum,bay,kos umum bay,kos\tB-ORGANISATION\numum\tI-ORGANISATION\nbay...
254289,pem ciputat,,pem,pem ciputat,pem\tB-PLACE\nciputat\tO\n.\tO\n
254290,apartemen kalibata city tower sakura unit 06ab,tower sakura,,apartemen kalibata city tower sakura unit 06ab,apartemen\tO\nkalibata\tO\ncity\tO\ntower\tB-O...
254291,ramb 28 gempeng bangil,,ramb,ramb 28 gempeng bangil,ramb\tB-PLACE\n28\tO\ngempeng\tO\nbangil\tO\n....

In [29]:
def save_file(filename, arr) :
    f = open(filename, "w+",  encoding='utf-8')
    for s in arr :
        f.write(s.encode("ascii", "ignore").decode())
        f.write("\n")
    f.close()

In [30]:
train_path = data_path + "bert-fine-tune/train.txt"
validation_path = data_path + "bert-fine-tune/validation.txt"

train_data = train["Label"].values.tolist()
test_data = test["Label"].values.tolist()


ntry = None
# ntry = 1000
if ntry :
    train_data = train_data[:ntry]
    test_data = test_data[:ntry]

save_file(train_path, train_data)
save_file(validation_path, test_data)