In [627]:
import re
from collections import Counter 

import pandas as pd
import numpy as np


import warnings
warnings.filterwarnings('ignore')

In [710]:
data_dir = "data/"
df = pd.read_csv(data_dir + "processed_train.csv")

In [711]:
# df = df[:2000]
df

,raw_address,POI/street
0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika
1,"aye , jati sampurna",/
2,setu siung 119 rt 5 1 13880 cipayung,/siung
3,"toko dita , kertosono",toko dita/
4,jl. orde baru,/jl. orde baru
...,...,...
297511,jend ahmad yani 331 kertasari ciamis,/jend ahmad yani
297512,"raya cila kko , cilandak timur kel.",/raya cila kko
297513,tanjung gusta jl. yaya 2 no 17,/
297514,jalan cipadu jaya taman asri gang bijaksana 3 ...,taman asri/
297515,jaya maspion permata blok beryl b2 no 58,jaya maspion permata/

In [712]:
def getPOI(s) :
    return s.split("/")[0]

def getStreet(s) :
    return s.split("/")[1]

def split(s) :
    s = remove_multiple_whitespace(s)
    return s.split(" ")

### Remove whitespace

In [713]:
# remove multiple whitespace
# cover tabs, newlines, etc
def remove_multiple_whitespace(text) :
    return re.sub(' +', ' ', text.replace('\n', ' ').replace('\t', ' ')).strip()

In [714]:
remove_multiple_whitespace("asfua asfasbiuf \n \t  asfsa adfgas \t d ")

'asfua asfasbiuf asfsa adfgas d'

In [715]:
df["raw_address"] = df["raw_address"].apply(remove_multiple_whitespace)
df["POI/street"] = df["POI/street"].apply(remove_multiple_whitespace)

In [716]:
df["POI"] = df["POI/street"].apply(getPOI)
df["Street"] = df["POI/street"].apply(getStreet) 

df["SplitRaw"] = df["raw_address"].apply(split)
df["SplitPOI"] = df["POI"].apply(split)
df["SplitStreet"] = df["Street"].apply(split)

df

,raw_address,POI/street,POI,Street,SplitRaw,SplitPOI,SplitStreet
0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika,,jl kapuk timur delta sili iii lippo cika,"[jl, kapuk, timur, delta, sili, iii, lippo, ci...",[],"[jl, kapuk, timur, delta, sili, iii, lippo, cika]"
1,"aye , jati sampurna",/,,,"[aye, ,, jati, sampurna]",[],[]
2,setu siung 119 rt 5 1 13880 cipayung,/siung,,siung,"[setu, siung, 119, rt, 5, 1, 13880, cipayung]",[],[siung]
3,"toko dita , kertosono",toko dita/,toko dita,,"[toko, dita, ,, kertosono]","[toko, dita]",[]
4,jl. orde baru,/jl. orde baru,,jl. orde baru,"[jl., orde, baru]",[],"[jl., orde, baru]"
...,...,...,...,...,...,...,...
297511,jend ahmad yani 331 kertasari ciamis,/jend ahmad yani,,jend ahmad yani,"[jend, ahmad, yani, 331, kertasari, ciamis]",[],"[jend, ahmad, yani]"
297512,"raya cila kko , cilandak timur kel.",/raya cila kko,,raya cila kko,"[raya, cila, kko, ,, cilandak, timur, kel.]",[],"[raya, cila, kko]"
297513,tanjung gusta jl. yaya 2 no 17,/,,,"[tanjung, gusta, jl., yaya, 2, no, 17]",[],[]
297514,jalan cipadu jaya taman asri gang bijaksana 3 ...,taman asri/,taman asri,,"[jalan, cipadu, jaya, taman, asri, gang, bijak...","[taman, asri]",[]
297515,jaya maspion permata blok beryl b2 no 58,jaya maspion permata/,jaya maspion permata,,"[jaya, maspion, permata, blok, beryl, b2, no, 58]","[jaya, maspion, permata]",[]

In [717]:
def f(words, sentence): 
    if " ".join(words) in sentence :
        return False
    return True

In [718]:
words = ["taman", "meruya"]
sentence = "taman mer , 13 electr laun system , 2 meruya utara"
f(words, sentence)

True

In [719]:
df['TransformedPOI'] = df.apply(lambda x: f(x.SplitPOI, x.raw_address), axis=1)
df['TransformedStreet'] = df.apply(lambda x: f(x.SplitStreet, x.raw_address), axis=1)

In [720]:
df

,raw_address,POI/street,POI,Street,SplitRaw,SplitPOI,SplitStreet,TransformedPOI,TransformedStreet
0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika,,jl kapuk timur delta sili iii lippo cika,"[jl, kapuk, timur, delta, sili, iii, lippo, ci...",[],"[jl, kapuk, timur, delta, sili, iii, lippo, cika]",False,False
1,"aye , jati sampurna",/,,,"[aye, ,, jati, sampurna]",[],[],False,False
2,setu siung 119 rt 5 1 13880 cipayung,/siung,,siung,"[setu, siung, 119, rt, 5, 1, 13880, cipayung]",[],[siung],False,False
3,"toko dita , kertosono",toko dita/,toko dita,,"[toko, dita, ,, kertosono]","[toko, dita]",[],False,False
4,jl. orde baru,/jl. orde baru,,jl. orde baru,"[jl., orde, baru]",[],"[jl., orde, baru]",False,False
...,...,...,...,...,...,...,...,...,...
297511,jend ahmad yani 331 kertasari ciamis,/jend ahmad yani,,jend ahmad yani,"[jend, ahmad, yani, 331, kertasari, ciamis]",[],"[jend, ahmad, yani]",False,False
297512,"raya cila kko , cilandak timur kel.",/raya cila kko,,raya cila kko,"[raya, cila, kko, ,, cilandak, timur, kel.]",[],"[raya, cila, kko]",False,False
297513,tanjung gusta jl. yaya 2 no 17,/,,,"[tanjung, gusta, jl., yaya, 2, no, 17]",[],[],False,False
297514,jalan cipadu jaya taman asri gang bijaksana 3 ...,taman asri/,taman asri,,"[jalan, cipadu, jaya, taman, asri, gang, bijak...","[taman, asri]",[],False,False
297515,jaya maspion permata blok beryl b2 no 58,jaya maspion permata/,jaya maspion permata,,"[jaya, maspion, permata, blok, beryl, b2, no, 58]","[jaya, maspion, permata]",[],False,False

words = ['ds.', 'sukowiyono', 'dsn.', 'karangsono', 'rt', '01', 'rw', '03', 'utara', 'jembatan', 'simomasuk', 'gang', 'jembatan']

POI = ['jembatan', 'simo']

there is a corrector for misspell word

In [721]:
odds = []
def repair_words(words, repaireds) :
    res = words.copy()
    ori = []
    i = 0
    while i < len(words) :
        curr = words[i]
        if curr == repaireds[0][:len(curr)] :
            j = 1
            while j < len(repaireds) :
                if i + j >= len(words) :
                    odds.append({"words": words, "repaireds": repaireds})
#                     print(i)
#                     print(j)
#                     print(words)
#                     print(repaireds)
                    return [[],[]]
                curr = words[i+j]
                if curr == repaireds[j][:len(curr)] :
                    j += 1
                else :
                    break
            if j == len(repaireds) :
                ori = list(words[i:i+j])
                res[i:i+j] = repaireds
                return [words, ori]
        i += 1
    return [res, ori]

In [722]:
def get_index_zero(arr) :
#     print(arr)
#     print(len(arr))
    return arr[0]

def get_index_one(arr) :
    if len(arr) <= 1 :
        print(arr)
    return arr[1]

df["temp"] = df.apply(lambda x : repair_words(x.SplitRaw, x.SplitPOI), axis=1)
df["cleaned_address"] = df["temp"].apply(get_index_zero)
df["OriPOI"] = df["temp"].apply(get_index_one)
df["temp"] = df.apply(lambda x : repair_words(x.cleaned_address, x.SplitStreet), axis=1)
df["cleaned_address"] = df["temp"].apply(get_index_zero)
df["OriStreet"] = df["temp"].apply(get_index_one)

In [723]:
df[["TransformedPOI", "SplitPOI", "OriPOI", "TransformedStreet", "SplitStreet", "OriStreet"]]

,TransformedPOI,SplitPOI,OriPOI,TransformedStreet,SplitStreet,OriStreet
0,False,[],[],False,"[jl, kapuk, timur, delta, sili, iii, lippo, cika]","[jl, kapuk, timur, delta, sili, iii, lippo, cika]"
1,False,[],[],False,[],[]
2,False,[],[],False,[siung],[siung]
3,False,"[toko, dita]","[toko, dita]",False,[],[]
4,False,[],[],False,"[jl., orde, baru]","[jl., orde, baru]"
...,...,...,...,...,...,...
297511,False,[],[],False,"[jend, ahmad, yani]","[jend, ahmad, yani]"
297512,False,[],[],False,"[raya, cila, kko]","[raya, cila, kko]"
297513,False,[],[],False,[],[]
297514,False,"[taman, asri]","[taman, asri]",False,[],[]
297515,False,"[jaya, maspion, permata]","[jaya, maspion, permata]",False,[],[]

In [724]:
df.iloc[168]

raw_address          taman mer , 13 electr laun system , 2 meruya u...
POI/street                      electrolux laundry system/taman meruya
POI                                          electrolux laundry system
Street                                                    taman meruya
SplitRaw             [taman, mer, ,, 13, electr, laun, system, ,, 2...
SplitPOI                                 [electrolux, laundry, system]
SplitStreet                                            [taman, meruya]
TransformedPOI                                                    True
TransformedStreet                                                 True
temp                 [[taman, mer, ,, 13, electr, laun, system, ,, ...
cleaned_address      [taman, mer, ,, 13, electr, laun, system, ,, 2...
OriPOI                                          [electr, laun, system]
OriStreet                                                 [taman, mer]
Name: 168, dtype: object

# List of Transformation

In [725]:
trans = df[df.apply(lambda x: not (x.TransformedPOI == False and x.TransformedStreet == False), axis=1)]
trans = trans[["TransformedPOI", "SplitPOI", "OriPOI", "TransformedStreet", "SplitStreet", "OriStreet"]]
trans.head()

,TransformedPOI,SplitPOI,OriPOI,TransformedStreet,SplitStreet,OriStreet
10,True,"[sd, negeri, bojong, 02]","[sd, neg, boj, 02]",False,"[klap, boj]","[klap, boj]"
11,True,"[yayasan, atohariyah]","[yaya, atohar]",False,[],[]
20,True,"[toko, bangunan, ajs]","[toko, bang, ajs]",False,[],[]
39,True,"[markaz, tabligh, metro]","[mar, tabl, metro]",False,[],[]
43,True,"[sd, negeri, 12, anggrek]","[sd, neg, 12, anggrek]",False,[],[]

In [726]:
def sort_dict(d) :
    return {k: v for k, v in sorted(d.items(), key=lambda item: item[1], reverse=True)}

In [727]:
# WORD TRANSFORMATION NEED TO CONSIDER PREVIOUS AND NEXT WORD

In [728]:
trans.head(30)

,TransformedPOI,SplitPOI,OriPOI,TransformedStreet,SplitStreet,OriStreet
10,True,"[sd, negeri, bojong, 02]","[sd, neg, boj, 02]",False,"[klap, boj]","[klap, boj]"
11,True,"[yayasan, atohariyah]","[yaya, atohar]",False,[],[]
20,True,"[toko, bangunan, ajs]","[toko, bang, ajs]",False,[],[]
39,True,"[markaz, tabligh, metro]","[mar, tabl, metro]",False,[],[]
43,True,"[sd, negeri, 12, anggrek]","[sd, neg, 12, anggrek]",False,[],[]
47,True,"[rumah, makan, pelangi]","[rumah, makan, pela]",False,"[raya, jomb]","[raya, jomb]"
68,False,[],[],True,[cakrad],[cak]
73,True,"[rnd, printing]","[rnd, prin]",False,"[gang, pinak]","[gang, pinak]"
75,True,"[pp, minhajutthollab]","[pp, minhajutt]",False,"[kh, abdul, manan]","[kh, abdul, manan]"
76,True,"[tk, islam, darussalam]","[tk, islam, daruss]",False,[],[]
78,True,"[bintang, jaya, ud]","[bint, jaya, ud]",False,"[kemb, jepun]","[kemb, jepun]"
85,False,[],[],True,"[kaharu, nasu]","[kah, nasu]"
94,True,"[causal, terrace]","[cau, terr]",False,[gal],[gal]
99,True,"[kedai, tenun, jepara, sennaart]","[kedai, tenun, jep, senn]",False,"[kota, bumi]","[kota, bumi]"
109,True,"[cv., hingdi, oto, kencana]","[cv., hin, oto, kenc]",False,"[sido, ii]","[sido, ii]"
116,False,[],[],True,"[ahmad, dahlan, iv]","[ahmad, dah, iv]"
117,True,"[cavallino, pizzaria]","[caval, pizz]",False,"[dip, ukur]","[dip, ukur]"
127,True,[grey101],[grey],False,[],[]
129,False,[],[],True,"[manglayang, rege]","[mangla, rege]"
133,True,"[bengkel, las, deny]","[beng, las, deny]",False,[],[]
134,False,"[lintas, ibadah]","[lintas, ibadah]",True,"[cipinang, jaya, 1a]","[cipi, jaya, 1a]"
136,True,"[berkat, nadah, agung]","[ber, nadah, agung]",False,[],[]
137,True,"[sd, bustanul, islamiah]","[sd, bust, islamiah]",False,"[andi, pang, petta]","[andi, pang, petta]"
143,True,"[sd, negeri, palumbungan, 1]","[sd, neg, palumbungan, 1]",False,"[perum, wirasana]","[perum, wirasana]"
151,True,"[pd., karya, warga, mandiri, cimb]","[pd., karya, warga, mand, cimb]",False,"[ujung, harapan]","[ujung, harapan]"
154,True,"[primaadi, warna, dan, rekan]","[prim, warna, dan, rekan]",False,"[kembang, jeruk, iv]","[kembang, jeruk, iv]"
156,True,"[alun, -, alun, kuliner, nusantara]","[alun, -, alun, kuli, nusan]",False,[kar],[kar]
160,True,"[kantor, bupati, tapanuli, selatan]","[kantor, bupati, tapa, sela]",False,"[serma, lian, kos]","[serma, lian, kos]"
165,True,"[smk, karya, pembangunan]","[smk, karya, pemban]",False,[pon],[pon]
168,True,"[electrolux, laundry, system]","[electr, laun, system]",True,"[taman, meruya]","[taman, mer]"

## 1 Word Transformation

In [729]:
unitransforms = {}
for check, repair, ori in zip(trans["TransformedPOI"], trans["SplitPOI"], trans["OriPOI"]) :
    if check :
        for r, o in zip(repair, ori) :
            if r != o :
                if o not in unitransforms :
                    unitransforms[o] = {}
                    unitransforms[o][r] = 1
                else :
                    if r in unitransforms[o] :
                        unitransforms[o][r] += 1
                    else :
                        unitransforms[o][r] = 1

for check, repair, ori in zip(trans["TransformedStreet"], trans["SplitStreet"], trans["OriStreet"]) :
    if check :
        for r, o in zip(repair, ori) :
            if r != o :
                if o not in unitransforms :
                    unitransforms[o] = {}
                    unitransforms[o][r] = 1
                else :
                    if r in unitransforms[o] :
                        unitransforms[o][r] += 1
                    else :
                        unitransforms[o][r] = 1

for k, v in unitransforms.items() :
    unitransforms[k] = sort_dict(v)

In [730]:
# unitransforms

In [731]:
unitransforms["cak"]

{'cakung': 15, 'cakruk': 1, "cake's": 1, 'cakery': 1, 'cakrad': 1, 'cakrab': 1}

## 2 Word Transformation

In [732]:
bitransforms = {}
for check, repair, ori in zip(trans["TransformedPOI"], trans["SplitPOI"], trans["OriPOI"]) :
    if check :
        if len(repair) == len(ori) and len(repair) > 1:
            i = 0
            while i < len(repair)-1 :
                r = repair[i] + " " + repair[i+1]
                o = ori[i] + " " + ori[i+1]
                if r != o :
                    if o not in bitransforms :
                        bitransforms[o] = {}
                        bitransforms[o][r] = 1
                    else :
                        if r in bitransforms[o] :
                            bitransforms[o][r] += 1
                        else :
                            bitransforms[o][r] = 1
                i += 1

for check, repair, ori in zip(trans["TransformedStreet"], trans["SplitStreet"], trans["OriStreet"]) :
    if check :
        if len(repair) == len(ori) and len(repair) > 1:
            i = 0
            while i < len(repair)-1 :
                r = repair[i] + " " + repair[i+1]
                o = ori[i] + " " + ori[i+1]
                if r != o :
                    if o not in bitransforms :
                        bitransforms[o] = {}
                        bitransforms[o][r] = 1
                    else :
                        if r in bitransforms[o] :
                            bitransforms[o][r] += 1
                        else :
                            bitransforms[o][r] = 1
                i += 1

for k, v in bitransforms.items() :
    bitransforms[k] = sort_dict(v)

In [733]:
bitransforms["taman mer"]

{'taman meruya': 2}

In [734]:
# bitransforms

## 3 Word Transformation

In [735]:
tritransforms = {}
for check, repair, ori in zip(trans["TransformedPOI"], trans["SplitPOI"], trans["OriPOI"]) :
    if check :
        if len(repair) == len(ori) and len(repair) > 2:
            i = 0
            while i < len(repair)-2 :
                r = repair[i] + " " + repair[i+1] + " " + repair[i+2]
                o = ori[i] + " " + ori[i+1] + " " + ori[i+2]
                if r != o :
                    if o not in tritransforms :
                        tritransforms[o] = {}
                        tritransforms[o][r] = 1
                    else :
                        if r in tritransforms[o] :
                            tritransforms[o][r] += 1
                        else :
                            tritransforms[o][r] = 1
                i += 1

for check, repair, ori in zip(trans["TransformedStreet"], trans["SplitStreet"], trans["OriStreet"]) :
    if check :
        if len(repair) == len(ori) and len(repair) > 2:
            i = 0
            while i < len(repair)-2 :
                r = repair[i] + " " + repair[i+1] + " " + repair[i+2]
                o = ori[i] + " " + ori[i+1] + " " + ori[i+2]
                if r != o :
                    if o not in tritransforms :
                        tritransforms[o] = {}
                        tritransforms[o][r] = 1
                    else :
                        if r in tritransforms[o] :
                            tritransforms[o][r] += 1
                        else :
                            tritransforms[o][r] = 1
                i += 1

for k, v in tritransforms.items() :
    tritransforms[k] = sort_dict(v)

In [736]:
# tritransforms

## 4 Word Transformation

In [737]:
qtransforms = {}
for check, repair, ori in zip(trans["TransformedPOI"], trans["SplitPOI"], trans["OriPOI"]) :
    if check :
        if len(repair) == len(ori) and len(repair) > 3:
            i = 0
            while i < len(repair)-3 :
                r = repair[i] + " " + repair[i+1] + " " + repair[i+2] + " " + repair[i+3]
                o = ori[i] + " " + ori[i+1] + " " + ori[i+2] + " " + ori[i+3]
                if r != o :
                    if o not in qtransforms :
                        qtransforms[o] = {}
                        qtransforms[o][r] = 1
                    else :
                        if r in qtransforms[o] :
                            qtransforms[o][r] += 1
                        else :
                            qtransforms[o][r] = 1
                i += 1

for check, repair, ori in zip(trans["TransformedStreet"], trans["SplitStreet"], trans["OriStreet"]) :
    if check :
        if len(repair) == len(ori) and len(repair) > 3:
            i = 0
            while i < len(repair)-3 :
                r = repair[i] + " " + repair[i+1] + " " + repair[i+2] + " " + repair[i+3]
                o = ori[i] + " " + ori[i+1] + " " + ori[i+2] + " " + ori[i+3]
                if r != o :
                    if o not in qtransforms :
                        qtransforms[o] = {}
                        qtransforms[o][r] = 1
                    else :
                        if r in qtransforms[o] :
                            qtransforms[o][r] += 1
                        else :
                            qtransforms[o][r] = 1
                i += 1
                
for k, v in qtransforms.items() :
    qtransforms[k] = sort_dict(v)

In [738]:
# qtransforms

# Combine ngrams

### Create Unigram

In [739]:
df = pd.read_csv('data/processed_train.csv')
df.head()

,raw_address,POI/street
0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika
1,"aye , jati sampurna",/
2,setu siung 119 rt 5 1 13880 cipayung,/siung
3,"toko dita , kertosono",toko dita/
4,jl. orde baru,/jl. orde baru

In [740]:
tokens = []
for s in df["raw_address"] :
    words = s.split(" ")
    for word in words :
        tokens.append(word)
unigrams = Counter(tokens)

In [741]:
unigrams.most_common()[:10]

[(',', 201803),
 ('no', 52876),
 ('rt', 43741),
 ('raya', 35357),
 ('1', 23773),
 ('2', 21759),
 ('rw', 21131),
 ('3', 18163),
 ('4', 14783),
 ('barat', 14730)]

### Create Bigram

In [742]:
tokens = []
for s in df["raw_address"] :
    words = s.split(" ")
    n = len(words)
    if n > 1 :
        i = 0
        while i < n - 1 : 
            text = words[i] + " " + words[i+1]
            tokens.append(text)
            i += 1 
bigrams = Counter(tokens)

In [743]:
bigrams.most_common()[:10]

[(', no', 20825),
 (', raya', 6082),
 ('rt 1', 5810),
 ('raya ,', 5104),
 ('rt 2', 5001),
 ('rt 3', 4527),
 ('rt 4', 3918),
 ('rt 5', 3403),
 ('rt 6', 2750),
 ('2 ,', 2483)]

### Create Trigram

In [744]:
tokens = []
for s in df["raw_address"] :
    words = s.split(" ")
    n = len(words)
    if n > 2 :
        i = 0
        while i < n - 2 : 
            text = words[i] + " " + words[i+1] + " " + words[i+2]
            tokens.append(text)
            i += 1 
trigrams = Counter(tokens)

In [745]:
trigrams.most_common()[:10]

[('rt 1 rw', 1243),
 ('raya , no', 1136),
 ('ahmad yani ,', 1065),
 ('rt 2 rw', 1050),
 ('rt 3 rw', 981),
 ('rt 4 rw', 815),
 ('jend ahmad yani', 797),
 ('jend sudi ,', 774),
 ('rt 5 rw', 736),
 (', no 1', 653)]

# Transformation

In [746]:
def repair_qgram(text) :
    words = text.split(" ")
    n = len(words)
    if n > 3 :
        for i in range(n-3) :
            token = words[i] + " " + words[i+1] + " " + words[i+2] + " " + words[i+3]
            if token in qtransforms :
                text = text.replace(token, list(qtransforms[token])[0])
    return text

repair_qgram(text)

'b2 no 58'

In [747]:
trirepair = {}
for k, v in tritransforms.items() :
    words = list(v.keys())
    counts = list(v.values())
    first_word, first_count = words[0], counts[0]
    uncertain = True
    if len(v) > 1 :
        second_word, second_count = words[1], counts[1]
        if first_count > second_count * 2 :
            uncertain = False
    else :
        uncertain = False

    if not uncertain :
        if 1.5 * first_count > trigrams[k] :
            trirepair[k] = first_word

In [748]:
# def repair_trigram(text) :
#     words = text.split(" ")
#     n = len(words)
#     if n > 2 :
#         for i in range(n-2) :
#             token = words[i] + " " + words[i+1] + " " + words[i+2]
#             if token in tritransforms :
#                 text = text.replace(token, list(tritransforms[token])[0])
#     return text
def repair_trigram(text) :
    words = text.split(" ")
    n = len(words)
    if n > 2 :
        for i in range(n-2) :
            token = words[i] + " " + words[i+1] + " " + words[i+2]
            if token in trirepair :
                text = text.replace(token, trirepair[token])
    return text

text = "cikahuripan sd neg boj 02 klap boj , no 5 16877"
text = "raya samb gede , 299 toko bb kids"
repair_trigram(text)

'raya samb gede , 299 toko bb kids'

In [749]:
birepair = {}
for k, v in bitransforms.items() :
    words = list(v.keys())
    counts = list(v.values())
    first_word, first_count = words[0], counts[0]
    uncertain = True
    if len(v) > 1 :
        second_word, second_count = words[1], counts[1]
        if first_count > second_count * 3 :
            uncertain = False
    else :
        uncertain = False

    if not uncertain :
        if 1.5 * first_count > bigrams[k] :
            birepair[k] = first_word

In [750]:
def repair_bigram(text) :
#     words = text.split(" ")
#     replaced = [False] * len(words)
#     repaired = words.copy()
#     if len(words) > 1 : 
#         for i in range(len(words)-1) :
#             token = words[i] + " " + words[i+1]
#             if token in birepair :
#                 if not replaced[i] :
#                     replaced[i] = True
#                     repaired[i] = birepair[token].split(" ")[0]
#                 replaced[i+1] = True
#                 repaired[i+1] = birepair[token].split(" ")[1]
#     return " ".join(repaired)
    words = text.split(" ")
    n = len(words)
    if n > 1 :
        for i in range(n-1) :
            token = words[i] + " " + words[i+1]
            if token in birepair :
                text = text.replace(token, birepair[token])
    return text

text = "cikahuripan sd neg boj 02 klap boj , no 5 16877"
# text = "delta sili"
repair_bigram(text)

'cikahuripan sd negeri bojong 02 klap boj , no 5 16877'

In [751]:
unirepair = {}
for k, v in unitransforms.items() :
    words = list(v.keys())
    counts = list(v.values())
    first_word, first_count = words[0], counts[0]

    uncertain = True
    if len(v) > 1 :
        second_word, second_count = words[1], counts[1]
        if first_count > second_count * 10 :
            uncertain = False
    else :
        uncertain = False

    if not uncertain :
        if 1.1 * first_count > unigrams[k]:
            unirepair[k] = first_word

In [752]:
def repair_unigram(text) :
    words = text.split(" ")
    for i in range(len(words)) :
        if words[i] in unirepair :
            words[i] = unirepair[words[i]]
    return " ".join(words)

text = "cikahuripan sd neg boj 02 klap boj , no 5 16877"
repair_bigram(text)

'cikahuripan sd negeri bojong 02 klap boj , no 5 16877'

In [753]:
# unirepair

## Debugging for Repair

In [754]:
def repair_debug(text) : 
    text = repair_qgram(text)
    print("4: ", text)
    text = repair_trigram(text)
    print("3: ", text)
    text = repair_bigram(text)
    print("2: ", text)
#     text = repair_unigram(text)
#     print("1: ", text)
    return text

In [755]:
text = "jl kapuk timur delta sili iii lippo cika 11 a cicau cikarang pusat" 
# text = "toko sae , tulakan-tegalombo"
# text = "cak 11 nagasari karawang barat"
# text = "raya samb gede , 299 toko bb kids"
text = "beng las listrik rah , raya sorea , cangkuang"
text = "simpang tiga kah nasu no 112 28284 bukit raya"
repair_debug(text)

4:  simpang tiga kah nasu no 112 28284 bukit raya
3:  simpang tiga kah nasu no 112 28284 bukit raya
2:  simpang tiga kah nasu no 112 28284 bukit raya

'simpang tiga kah nasu no 112 28284 bukit raya'

In [756]:
bitext = "kah nasu"
# bitext = ""
print(bitransforms[bitext])
print(bigrams[bitext])

{'kaharu nasu': 5}
22

In [757]:
unitext = "cika"
print(unitransforms[unitext])
print(unigrams[unitext])

{'cikarang': 26, 'cikande': 6, 'cikampek': 5, 'cikajang': 4, 'cikalong': 4, 'cikawao': 2, 'cikakak': 1, 'cikanteh': 1, 'cikalang': 1, 'cikadut': 1}
421

In [758]:
text = "raya samb gede"
print(tritransforms[text])
print(trigrams[text])

{'raya sambong gede': 2}
13

# Check Number of Repair

In [759]:
cdf = pd.read_csv('data/cleaned_train.csv')
cdf.head()

,raw_address,POI/street
0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika
1,"aye , jati sampurna",/
2,setu siung 119 rt 5 1 13880 cipayung,/siung
3,"toko dita , kertosono",toko dita/
4,jl. orde baru,/jl. orde baru

In [760]:
def repair(text) : 
    text = repair_qgram(text)
    text = repair_trigram(text)
    text = repair_bigram(text)
    text = repair_unigram(text)
    return text

### Before Repair

In [761]:
check = df["raw_address"] == cdf["raw_address"]
print("Repaired: {:.2f}%".format(100 * sum(check)/len(cdf)))

Repaired: 80.12%

### After Repair

In [762]:
df["repaired_address"] = df["raw_address"].apply(repair)
df["cleaned_address"] = cdf["raw_address"]
check = df["repaired_address"] == df["cleaned_address"]
print("Repaired: {:.2f}%".format(100 * sum(check)/len(cdf)))

Repaired: 92.74%

## Apply Transformation To Test Data

In [772]:
dft = pd.read_csv(data_dir + "processed_test.csv")

In [773]:
dft["cleaned_address"] = dft["raw_address"].apply(repair)

In [774]:
dft

,id,raw_address,cleaned_address
0,0,s. par 53 sidanegara 4 cilacap tengah,s. par 53 sidanegara 4 cilacap tengah
1,1,"angg per , baloi indah kel. lubuk baja","angg per , baloi indah kel. lubuk baja"
2,2,"asma laun , mand imog ,","asma laun , mand imog ,"
3,3,"ud agung rej , raya nga sri wedari karanganyar","ud agung rejeki , raya nga sri wedari karanganyar"
4,4,"cut mutia , 35 baiturrahman","cut mutia , 35 baiturrahman"
...,...,...,...
49995,49995,toko mbak farid semboro semboro,toko mbak farid semboro semboro
49996,49996,"vie - tk. ridho kids , vete 3 cari , 16720 ciawi","vienna - tk. ridho kids , vete 3 cari , 16720 ..."
49997,49997,"mart dan roti bakar malabar , nasio ,","martabak dan roti bakar malabar , nasio ,"
49998,49998,graha indah pamulang jl. mujair raya bambu apu...,graha indah pamulang jl. mujair raya bambu apu...
49999,49999,"adi ,","adi ,"

In [775]:
dft[dft["raw_address"] != dft["cleaned_address"]]

,id,raw_address,cleaned_address
3,3,"ud agung rej , raya nga sri wedari karanganyar","ud agung rejeki , raya nga sri wedari karanganyar"
13,13,war bakso lata kota waingapu,warung bakso lata kota waingapu
30,30,"lemb bimbi belajar gane opera ahmad yani 19 ,",lembaga bimbingan belajar ganesha operation ah...
36,36,"m. t. hary , no 11 bank neg indonesia kali rej...","m. t. hary , no 11 bank negara indonesia kali ..."
39,39,telajung raya setu cibi - bek no 32 17320 cika...,telajung raya setu cibi - bekasi no 32 17320 c...
...,...,...,...
49979,49979,toko mona kayu jati tembilahan hulu,toko monalisa kayu jati tembilahan hulu
49987,49987,toko suha kap marz,toko suhanda kap marz
49994,49994,m. tau kandai dua woja,m. taufiq kandai dua woja
49996,49996,"vie - tk. ridho kids , vete 3 cari , 16720 ciawi","vienna - tk. ridho kids , vete 3 cari , 16720 ..."
49997,49997,"mart dan roti bakar malabar , nasio ,","martabak dan roti bakar malabar , nasio ,"

In [780]:
dft.drop(columns=["raw_address"]).rename(columns={"cleaned_address" : "raw_address"}).to_csv("data/cleaned_test.csv")