In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re
import nltk
from nltk.tokenize import word_tokenize
from time import time
import pickle

import os

In [8]:
df = pd.read_csv('test.csv')
df

          id                                        raw_address
0          0              s. par 53 sidanegara 4 cilacap tengah
1          1              angg per, baloi indah kel. lubuk baja
2          2                              asma laun, mand imog,
3          3      ud agung rej, raya nga sri wedari karanganyar
4          4                         cut mutia, 35 baiturrahman
...      ...                                                ...
49995  49995                    toko mbak farid semboro semboro
49996  49996     vie - tk. ridho kids, vete 3 cari, 16720 ciawi
49997  49997                mart dan roti bakar malabar, nasio,
49998  49998  graha indah pamulang jl. mujair raya bambu apu...
49999  49999                                               adi,

[50000 rows x 2 columns]

In [9]:
cdf = pd.read_csv('cleaned_test.csv')
cdf

          id                                        raw_address
0          0           s. parman 53 sidanegara 4 cilacap tengah
1          1           anggrek per, baloi indah kel. lubuk baja
2          2                           asma laun, mangund imog,
3          3  ud agung rejeki, raya ngawi- sri wedari karang...
4          4                         cut mutia, 35 baiturrahman
...      ...                                                ...
49995  49995                    toko mbak farid semboro semboro
49996  49996     vie - tk. ridho kids, vete 3 cari, 16720 ciawi
49997  49997                mart dan roti bakar malabar, nasio,
49998  49998  graha indah pamulang jl. mujair raya bambanbu ...
49999  49999                                               adi,

[50000 rows x 2 columns]

In [10]:
check = df["raw_address"] == cdf["raw_address"]
sum(check)

32856