In [1]:
from collections import Counter 

import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv("train.csv")

In [37]:
# df = df[:200]
df

,id,raw_address,POI/street
0,0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika
1,1,"aye, jati sampurna",/
2,2,setu siung 119 rt 5 1 13880 cipayung,/siung
3,3,"toko dita, kertosono",toko dita/
4,4,jl. orde baru,/jl. orde baru
...,...,...,...
299995,299995,jend ahmad yani 331 kertasari ciamis,/jend ahmad yani
299996,299996,"raya cila kko, cilandak timur kel.",/raya cila kko
299997,299997,tanjung gusta jl. yaya 2 no 17,/
299998,299998,jalan cipadu jaya taman asri gang bijaksana 3 ...,taman asri/
299999,299999,jaya maspion permata blok beryl b2 no.58,jaya maspion permata/

In [38]:
len(df[df["POI/street"] == "/"])

31993

In [4]:
def getPOI(s) :
    return s.split("/")[0]

def getStreet(s) :
    return s.split("/")[1]

def split(s) :
    return s.split(" ")

In [5]:
df["POI"] = df["POI/street"].apply(getPOI)
df["Street"] = df["POI/street"].apply(getStreet)

In [6]:
df

,id,raw_address,POI/street,POI,Street
0,0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika,,jl kapuk timur delta sili iii lippo cika
1,1,"aye, jati sampurna",/,,
2,2,setu siung 119 rt 5 1 13880 cipayung,/siung,,siung
3,3,"toko dita, kertosono",toko dita/,toko dita,
4,4,jl. orde baru,/jl. orde baru,,jl. orde baru
...,...,...,...,...,...
299995,299995,jend ahmad yani 331 kertasari ciamis,/jend ahmad yani,,jend ahmad yani
299996,299996,"raya cila kko, cilandak timur kel.",/raya cila kko,,raya cila kko
299997,299997,tanjung gusta jl. yaya 2 no 17,/,,
299998,299998,jalan cipadu jaya taman asri gang bijaksana 3 ...,taman asri/,taman asri,
299999,299999,jaya maspion permata blok beryl b2 no.58,jaya maspion permata/,jaya maspion permata,

In [7]:
# Empty POI
len(df[df['POI'] == ''])

178509

In [8]:
# Empty Street
len(df[df['Street'] == ''])

70143

In [9]:
df["SplitStreet"] = df["Street"].apply(split)
df["SplitPOI"] = df["POI"].apply(split)
df["SplitRaw"] = df["raw_address"].apply(split)

In [10]:
def f(words, sentence): 
    res = []
    for word in words :
        if sentence.find(word) == -1 :
            res.append(word)
    if len(res) == 0 :
        return False
    return res

In [11]:
df['TransformedPOI'] = df.apply(lambda x: f(x.SplitPOI, x.raw_address), axis=1)
df['TransformedStreet'] = df.apply(lambda x: f(x.SplitStreet, x.raw_address), axis=1)

In [12]:
df[df["TransformedPOI"] != False]

,id,raw_address,POI/street,POI,Street,SplitStreet,SplitPOI,SplitRaw,TransformedPOI,TransformedStreet
10,10,"cikahuripan sd neg boj 02 klap boj, no 5 16877",sd negeri bojong 02/klap boj,sd negeri bojong 02,klap boj,"[klap, boj]","[sd, negeri, bojong, 02]","[cikahuripan, sd, neg, boj, 02, klap, boj,, no...","[negeri, bojong]",False
11,11,"yaya atohar,",yayasan atohariyah/,yayasan atohariyah,,[],"[yayasan, atohariyah]","[yaya, atohar,]","[yayasan, atohariyah]",False
20,20,"toko bang ajs,",toko bangunan ajs/,toko bangunan ajs,,[],"[toko, bangunan, ajs]","[toko, bang, ajs,]",[bangunan],False
40,40,mar tabl metro iringmulyo metro timur,markaz tabligh metro/,markaz tabligh metro,,[],"[markaz, tabligh, metro]","[mar, tabl, metro, iringmulyo, metro, timur]","[markaz, tabligh]",False
44,44,sd neg 12 anggrek,sd negeri 12 anggrek/,sd negeri 12 anggrek,,[],"[sd, negeri, 12, anggrek]","[sd, neg, 12, anggrek]",[negeri],False
...,...,...,...,...,...,...,...,...,...,...
299963,299963,masl letjen sut,maslikah/letjen sut,maslikah,letjen sut,"[letjen, sut]",[maslikah],"[masl, letjen, sut]",[maslikah],False
299968,299968,"vok toko, k h mas mans, kampung bali",vokals toko/k h mas mans,vokals toko,k h mas mans,"[k, h, mas, mans]","[vokals, toko]","[vok, toko,, k, h, mas, mans,, kampung, bali]",[vokals],False
299974,299974,"islamic training cen pare, brawi, pelem pare",islamic training center pare/brawi,islamic training center pare,brawi,[brawi],"[islamic, training, center, pare]","[islamic, training, cen, pare,, brawi,, pelem,...",[center],False
299983,299983,"la banda minima, cile raya, pesanggrahan",la banda minimarket/cile raya,la banda minimarket,cile raya,"[cile, raya]","[la, banda, minimarket]","[la, banda, minima,, cile, raya,, pesanggrahan]",[minimarket],False
299990,299990,"ver, durian bajenis",veruna/,veruna,,[],[veruna],"[ver,, durian, bajenis]",[veruna],False

In [24]:
transform_poi = {}
for transformed, address  in zip(df["TransformedPOI"], df["SplitRaw"]) :
    if transformed :
        for t in transformed :
            for a in address :
                if a == t[:len(a)] :
                    transform_poi[a] = t
                    break

len(transform_poi)

8098

In [13]:
df[df["TransformedStreet"] != False]

,id,raw_address,POI/street,POI,Street,SplitStreet,SplitPOI,SplitRaw,TransformedPOI,TransformedStreet
69,69,cak 11 nagasari karawang barat,/cakrad,,cakrad,[cakrad],[],"[cak, 11, nagasari, karawang, barat]",False,[cakrad]
86,86,simpang tiga kah nasu no 112 28284 bukit raya,/kaharu nasu,,kaharu nasu,"[kaharu, nasu]",[],"[simpang, tiga, kah, nasu, no, 112, 28284, buk...",False,[kaharu]
117,117,ahmad dah iv kukusan beji,/ahmad dahlan iv,,ahmad dahlan iv,"[ahmad, dahlan, iv]",[],"[ahmad, dah, iv, kukusan, beji]",False,[dahlan]
130,130,mangla rege no h1 3 cimekar kel. cileunyi,/manglayang rege,,manglayang rege,"[manglayang, rege]",[],"[mangla, rege, no, h1, 3, cimekar, kel., cileu...",False,[manglayang]
184,184,"pasi redjeki, man kerto v, mojo",pasifik redjeki/man kertoarjo v,pasifik redjeki,man kertoarjo v,"[man, kertoarjo, v]","[pasifik, redjeki]","[pasi, redjeki,, man, kerto, v,, mojo]",[pasifik],[kertoarjo]
...,...,...,...,...,...,...,...,...,...,...
299862,299862,f. l tob 91 batang beruh sidikalang,/f. l tobing,,f. l tobing,"[f., l, tobing]",[],"[f., l, tob, 91, batang, beruh, sidikalang]",False,[tobing]
299870,299870,"wanasari kel. cemp viii, no 12",/cempaka viii,,cempaka viii,"[cempaka, viii]",[],"[wanasari, kel., cemp, viii,, no, 12]",False,[cempaka]
299910,299910,"kamp lio,",/kampung lio,,kampung lio,"[kampung, lio]",[],"[kamp, lio,]",False,[kampung]
299973,299973,moha toha no 167,/mohammad toha,,mohammad toha,"[mohammad, toha]",[],"[moha, toha, no, 167]",False,[mohammad]
299986,299986,"ginzi cafe, siliw,",ginzi cafe/siliwangi,ginzi cafe,siliwangi,[siliwangi],"[ginzi, cafe]","[ginzi, cafe,, siliw,]",False,[siliwangi]

In [25]:
transform_street = {}
for transformed, address  in zip(df["TransformedStreet"], df["SplitRaw"]) :
    if transformed :
        for t in transformed :
            for a in address :
                if a == t[:len(a)] :
                    transform_street[a] = t
                    break

len(transform_street)

2730

In [33]:
transform_poi["jl."]

'jl.rya'

In [35]:
transform_street["jl."]

'jl.ko.'

In [29]:
def preprocess(words) :
    res = []
    for word in words :
        if word in transform_poi :
            res.append(transform_poi[word])
        elif word in transform_street :
            res.append(transform_street[word])
        else :
            res.append(word)

    return " ".join(res) 
    
df["Raw"] = df["SplitRaw"].apply(preprocess)

In [30]:
df

,id,raw_address,POI/street,POI,Street,SplitStreet,SplitPOI,SplitRaw,TransformedPOI,TransformedStreet,Raw
0,0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika,,jl kapuk timur delta sili iii lippo cika,"[jl, kapuk, timur, delta, sili, iii, lippo, cika]",[],"[jl, kapuk, timur, delta, sili, iii, lippo, ci...",False,False,"jl kapuk, timurraya deltasari silikon iii lipp..."
1,1,"aye, jati sampurna",/,,,[],[],"[aye,, jati, sampurna]",False,False,"aye, jatisari sampurna"
2,2,setu siung 119 rt 5 1 13880 cipayung,/siung,,siung,[siung],[],"[setu, siung, 119, rt, 5, 1, 13880, cipayung]",False,False,setulus siung 119 rt 5 1 13880 cipayung
3,3,"toko dita, kertosono",toko dita/,toko dita,,[],"[toko, dita]","[toko, dita,, kertosono]",False,False,"toko dita, kertosono-kediri"
4,4,jl. orde baru,/jl. orde baru,,jl. orde baru,"[jl., orde, baru]",[],"[jl., orde, baru]",False,False,jl.rya orde baruna.
...,...,...,...,...,...,...,...,...,...,...,...
299995,299995,jend ahmad yani 331 kertasari ciamis,/jend ahmad yani,,jend ahmad yani,"[jend, ahmad, yani]",[],"[jend, ahmad, yani, 331, kertasari, ciamis]",False,False,jendral ahmad yani 331 kertasari ciamis
299996,299996,"raya cila kko, cilandak timur kel.",/raya cila kko,,raya cila kko,"[raya, cila, kko]",[],"[raya, cila, kko,, cilandak, timur, kel.]",False,False,"rayanka cilacap kko, cilandak timurraya kel."
299997,299997,tanjung gusta jl. yaya 2 no 17,/,,,[],[],"[tanjung, gusta, jl., yaya, 2, no, 17]",False,False,"tanjunganom, gusta jl.rya yayasan 2 notaris 17"
299998,299998,jalan cipadu jaya taman asri gang bijaksana 3 ...,taman asri/,taman asri,,[],"[taman, asri]","[jalan, cipadu, jaya, taman, asri, gang, bijak...",False,False,jalan cipadu jayalas tamansari asrigaha gangsa...
299999,299999,jaya maspion permata blok beryl b2 no.58,jaya maspion permata/,jaya maspion permata,,[],"[jaya, maspion, permata]","[jaya, maspion, permata, blok, beryl, b2, , no...",False,False,jayalas maspion permata blokplan beryl b2 asra...

## Most Occurence Word in Street

In [11]:
tokens = []
for words in df["SplitStreet"] :
    for word in words :
        tokens.append(word)

len(tokens)

585059

In [12]:
count = Counter(tokens)

In [13]:
count.most_common()[:20]

[('', 70188),
 ('raya', 29817),
 ('gg.', 10697),
 ('jl.', 9709),
 ('i', 6805),
 ('ii', 6008),
 ('iii', 4512),
 ('1', 4470),
 ('2', 3861),
 ('indah', 3828),
 ('timur', 3752),
 ('barat', 3567),
 ('iv', 3218),
 ('haji', 2908),
 ('baru', 2828),
 ('jend', 2679),
 ('3', 2571),
 ('taman', 2555),
 ('utara', 2532),
 ('v', 2505)]

## Street Feature Engineering

In [14]:
def isContain(s, cek) :
    return cek in s

In [235]:
# street_tag = ["jl", "jalan", "gang", "gg.", "raya"]
street_tag = ["raya", "gg.", "jl.", "jl"]
second_street_tag = ["gang", "jalan", "jend", "indah", "timur", "barat", "haji", "utara", "selatan"]
street_number = ["i", "ii", "iii", "iv", "v", "vi", "vii", "viii", "ix"]
# for tag in street_tag + street_number :
#     df[tag] = df["SplitStreet"].apply(isContain, args=(tag,))
#     print(tag, ": ", len(df[df[tag] == True]))

In [236]:
df

,id,raw_address,POI/street,POI,Street,SplitStreet,SplitPOI,ExtractedStreet,cek_street,ExtractedPOI,cek_poi,ExtractedPOI/street,cek_submission
0,0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika,,jl kapuk timur delta sili iii lippo cika,"[jl, kapuk, timur, delta, sili, iii, lippo, cika]",[],jl kapuk timur delta sili iii lippo cika,True,,True,/jl kapuk timur delta sili iii lippo cika,True
1,1,"aye, jati sampurna",/,,,[],[],,True,,True,/,True
2,2,setu siung 119 rt 5 1 13880 cipayung,/siung,,siung,[siung],[],,False,,True,/,False
3,3,"toko dita, kertosono",toko dita/,toko dita,,[],"[toko, dita]",,True,toko dita,True,toko dita/,True
4,4,jl. orde baru,/jl. orde baru,,jl. orde baru,"[jl., orde, baru]",[],jl. orde baru,True,,True,/jl. orde baru,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,299995,jend ahmad yani 331 kertasari ciamis,/jend ahmad yani,,jend ahmad yani,"[jend, ahmad, yani]",[],jend ahmad yani,True,,True,/jend ahmad yani,True
299996,299996,"raya cila kko, cilandak timur kel.",/raya cila kko,,raya cila kko,"[raya, cila, kko]",[],raya cila kko,True,,True,/raya cila kko,True
299997,299997,tanjung gusta jl. yaya 2 no 17,/,,,[],[],tanjung gusta jl. yaya,False,,True,/tanjung gusta jl. yaya,False
299998,299998,jalan cipadu jaya taman asri gang bijaksana 3 ...,taman asri/,taman asri,,[],"[taman, asri]",jalan cipadu jaya taman asri gang bijaksana,False,jalan cipadu jaya taman asri gang bijaksana,False,jalan cipadu jaya taman asri gang bijaksana/ja...,False
299999,299999,jaya maspion permata blok beryl b2 no.58,jaya maspion permata/,jaya maspion permata,,[],"[jaya, maspion, permata]",jaya maspion permata blok beryl b,False,jaya maspion permata blok beryl b,False,jaya maspion permata blok beryl b/jaya maspion...,False

In [237]:
# df[df["ii"] == True]

In [238]:
def extract_street(s) :
    
    for t in street_tag :
        loc = s.find(t)
        if loc != -1 :
            left = 0
            i = 0
            while i < loc :
                if s[i] == "," :
                    left = i + 1
                i += 1
            right = len(s) - 1
            while i < len(s) :
                if s[i] == "," :
                    right = i - 1
                    break
                if s[i].isnumeric() :
                    right = i - 1
                    if s[i-3:i-1] == "no" :
                        right -= 4
                    break
                i += 1
            res = s[left:right+1]
            return res.strip()
    
    
    for t in street_number :
        middle_t = " " + t + " "
        loc = s.find(middle_t)
        if loc == -1 :
            loc = s.find(" " + t + ",")
        if loc != -1 :
            left = 0
            i = 0
            while i < loc :
                if s[i] == "," :
                    left = i + 1
                i += 1
            right = loc + len(t)
            res = s[left:right+1]
            return res.strip()
        
    for t in second_street_tag :
        loc = s.find(t)
        if loc != -1 :
            left = 0
            i = 0
            while i < loc :
                if s[i] == "," :
                    left = i + 1
                i += 1
            right = len(s) - 1
            while i < len(s) :
                if s[i] == "," :
                    right = i - 1
                    break
                if s[i].isnumeric() :
                    right = i - 1
                    if s[i-3:i-1] == "no" :
                        right -= 4
                    break
                i += 1
            res = s[left:right+1]
            return res.strip()

    return ""

In [239]:
s = "raya samb gede, 299 toko bb kids"
s = "asem baris raya 40 kebon baru rt 1 5 tebe"
s = "raya cila kko, cilandak timur kel."
s = "ramb i, pranti"
s = "villa golf barat i tangerang"
s = "kupang krajan kup kra i 38-f rt 2 3 sawahan	"
s = "kali per i kalisari mulyorejo"
s = "mas ii 24 rt 2 11"
s = "jl kapuk timur delta sili iii lippo cika 11 a"
extract_street(s)

'jl kapuk timur delta sili iii lippo cika'

In [240]:
df["ExtractedStreet"] = df["raw_address"].apply(extract_street)

In [241]:
df["cek_street"] = df["ExtractedStreet"] == df["Street"]

In [242]:
len(df[df["cek_street"] == True])

93601

## Most Occurence Word in POI

In [243]:
tokens = []
for words in df["SplitPOI"] :
    for word in words :
        tokens.append(word)

len(tokens)

521704

In [244]:
count = Counter(tokens)

In [245]:
count.most_common()[:20]

[('', 178569),
 ('toko', 8079),
 ('warung', 3272),
 ('pt', 3145),
 ('jaya', 2844),
 ('masjid', 2128),
 ('taman', 2110),
 ('negeri', 2104),
 ('perumahan', 1989),
 ('sd', 1819),
 ('dan', 1714),
 ('motor', 1620),
 ('cell', 1560),
 ('komplek', 1524),
 ('al', 1466),
 ('2', 1433),
 ('ayam', 1421),
 ('kantor', 1384),
 ('pasar', 1274),
 ('indonesia', 1240)]

## POI Feature Engineering

In [246]:
poi_tag = ["toko", "warung", "pt", "jaya", "masjid", "taman", "negeri", "perumahan", "sd", "motor", "komplek", "cell","kantor","pasar", "indonesia", "gudang", "rumah", "asrama", "stasiun"]
# for tag in poi_tag :
#     df[tag] = df["SplitPOI"].apply(isContain, args=(tag,))
#     print(tag, ": ", len(df[df[tag] == True]))

In [247]:
# df[df["toko"] == True]

In [248]:
def extract_poi(s) :

    for t in poi_tag :
        loc = s.find(t)
        if loc != -1 :
            left = 0
            i = 0
            while i < loc :
                if s[i] == "," or s[i] == ".":
                    left = i + 1
                i += 1
            right = len(s) - 1
            while i < len(s) :
                if s[i] == "," or s[i] == ".":
                    right = i - 1
                    break
                if s[i].isnumeric() :
                    right = i - 1
                    break
                i += 1
            res = s[left:right+1]
            return res.strip()
    


    return ""

In [249]:
s = "toko dita, kertosono"
s = "toko teguh jaya bojone, akbpm sur, kadipaten b...	"
extract_poi(s)

'toko teguh jaya bojone'

In [250]:
df["ExtractedPOI"] = df["raw_address"].apply(extract_poi)

In [251]:
df["cek_poi"] = df["ExtractedPOI"] == df["POI"]

In [252]:
len(df[df["cek_poi"] == True])

163973

## Check the Combination of POI and Street On Train Data

In [253]:
def extract_poi_street(s):
    poi, street = "", ""
#     poi = extract_poi(s)
    street = extract_street(s)
    return poi + "/" + street

In [254]:
df["ExtractedPOI/street"] = df["raw_address"].apply(extract_poi_street)

In [255]:
df["cek_submission"] = df["ExtractedPOI/street"] == df["POI/street"]

In [256]:
len(df[df["cek_submission"] == True])

46823

In [257]:
df[df["cek_submission"] == False]

,id,raw_address,POI/street,POI,Street,SplitStreet,SplitPOI,ExtractedStreet,cek_street,ExtractedPOI,cek_poi,ExtractedPOI/street,cek_submission
2,2,setu siung 119 rt 5 1 13880 cipayung,/siung,,siung,[siung],[],,False,,True,/,False
3,3,"toko dita, kertosono",toko dita/,toko dita,,[],"[toko, dita]",,True,toko dita,True,/,False
5,5,"raya samb gede, 299 toko bb kids",toko bb kids/raya samb gede,toko bb kids,raya samb gede,"[raya, samb, gede]","[toko, bb, kids]",raya samb gede,True,299 toko bb kids,False,/raya samb gede,False
7,7,tela keuramat kuta alam,/tela,,tela,[tela],[],,False,,True,/,False
8,8,gg. i wates magersari,/gg. i,,gg. i,"[gg., i]",[],gg. i wates magersari,False,,True,/gg. i wates magersari,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299993,299993,perum tata resid nirwana no e1 6 tanjungan kel.,/perum tata resid nirwana,,perum tata resid nirwana,"[perum, tata, resid, nirwana]",[],,False,,True,/,False
299994,299994,karawaci baru kakap raya 156 rt 1 rw 3 karawaci,/kakap raya,,kakap raya,"[kakap, raya]",[],karawaci baru kakap raya,False,,True,/karawaci baru kakap raya,False
299997,299997,tanjung gusta jl. yaya 2 no 17,/,,,[],[],tanjung gusta jl. yaya,False,,True,/tanjung gusta jl. yaya,False
299998,299998,jalan cipadu jaya taman asri gang bijaksana 3 ...,taman asri/,taman asri,,[],"[taman, asri]",jalan cipadu jaya taman asri gang bijaksana,False,jalan cipadu jaya taman asri gang bijaksana,False,/jalan cipadu jaya taman asri gang bijaksana,False
299999,299999,jaya maspion permata blok beryl b2 no.58,jaya maspion permata/,jaya maspion permata,,[],"[jaya, maspion, permata]",,True,jaya maspion permata blok beryl b,False,/,False

In [258]:
debug = df[df["cek_submission"] == False][["raw_address", "POI", "ExtractedPOI", "Street", "ExtractedStreet"]]

In [264]:
s = "gg. vif no 21 bandulan sukun"
s = "batur vii, no 13 mekarjaya rancasari"
s = "asidiq toko"
extract_poi_street(s)

'/'

In [266]:
left = 220
right = left + 20

debug[left:right]

,raw_address,POI,ExtractedPOI,Street,ExtractedStreet
261,air langga a2 no 2 rt 2 8 tanah sereal,,,air langga a2,
262,jalan sumur bor raya rt rw 004 012 kel. kalid...,,,,jalan sumur bor raya rt rw
264,luk 296 pejagoan pejagoan,,,luk,
265,"tb. kenc, pulau sula",tb. kencana,,pulau sula,
266,"t-sh design store, vete cilacap selatan",t-shirt design store,,vete,vete cilacap selatan
267,kelapa indah jl. kiha dewan tha cipo keta cipo...,,,jl. kiha dewan tha cipo keta cipo tange ban,kelapa indah jl. kiha dewan tha cipo keta cipo...
269,kp. lebak jero,lebak jero,,,
272,tranboge village blok f no 6 kedung waringin b...,tranboge village,,,
273,raya pad - pai nanggalo koto xi tarusan,,,raya pad - pai,raya pad - pai nanggalo koto xi tarusan
274,"warung mbak santi, sumber suko",warung mbak santi,warung mbak santi,,
275,"she bea hair and spa, dr. soet, no 19c sungai ...",she beauty hair and spa,,dr. soet,
276,prodia tower. jl kramat raya no 150,prodia tower,,jl kramat raya,prodia tower. jl kramat raya
277,"beryl barat,",,,,beryl barat
278,sukabumi selatan haji raidi 40 rt 10 4 11560 k...,,,haji raidi,sukabumi selatan haji raidi
279,palem 6 14 helvetia,,,palem 6,
280,"kantor desa manusak,",kantor desa manusak,kantor desa manusak,,
282,"ahass 10306, prof. dr. buny purwokerto utara",ahass 10306,,prof. dr. buny,prof. dr. buny purwokerto utara
283,"rambutan raya bogor, 7 rt 4 5 13830 ciracas",,,raya bogor,rambutan raya bogor
285,"simo tamb 13 exterior store, 5 simomulyo sukom...",exterior store,,simo tamb,
286,"jasm,",,,jasm,

## Apply on Test Data

In [199]:
dft = pd.read_csv("test.csv")

In [200]:
dft

          id                                        raw_address
0          0              s. par 53 sidanegara 4 cilacap tengah
1          1              angg per, baloi indah kel. lubuk baja
2          2                              asma laun, mand imog,
3          3      ud agung rej, raya nga sri wedari karanganyar
4          4                         cut mutia, 35 baiturrahman
...      ...                                                ...
49995  49995                    toko mbak farid semboro semboro
49996  49996     vie - tk. ridho kids, vete 3 cari, 16720 ciawi
49997  49997                mart dan roti bakar malabar, nasio,
49998  49998  graha indah pamulang jl. mujair raya bambu apu...
49999  49999                                               adi,

[50000 rows x 2 columns]

In [309]:
dft["POI/street"] = dft["raw_address"].apply(extract_poi_street)

In [310]:
dft = dft.drop(columns=["raw_address",])

In [311]:
dft

          id                                         POI/street
0          0                                                  /
1          1                       /baloi indah kel. lubuk baja
2          2                                                  /
3          3                   /raya nga sri wedari karanganyar
4          4                                                  /
...      ...                                                ...
49995  49995                   toko mbak farid semboro semboro/
49996  49996                                                  /
49997  49997                                                  /
49998  49998  /graha indah pamulang jl. mujair raya bambu ap...
49999  49999                                                  /

[50000 rows x 2 columns]

In [312]:
dft.to_csv("submission.csv", index=False)