In [36]:
from collections import Counter 

import pandas as pd
import numpy as np

In [37]:
df = pd.read_csv("train.csv")

In [38]:
# df = df[:200]
df

,id,raw_address,POI/street
0,0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika
1,1,"aye, jati sampurna",/
2,2,setu siung 119 rt 5 1 13880 cipayung,/siung
3,3,"toko dita, kertosono",toko dita/
4,4,jl. orde baru,/jl. orde baru
...,...,...,...
299995,299995,jend ahmad yani 331 kertasari ciamis,/jend ahmad yani
299996,299996,"raya cila kko, cilandak timur kel.",/raya cila kko
299997,299997,tanjung gusta jl. yaya 2 no 17,/
299998,299998,jalan cipadu jaya taman asri gang bijaksana 3 ...,taman asri/
299999,299999,jaya maspion permata blok beryl b2 no.58,jaya maspion permata/

In [39]:
len(df[df["POI/street"] == "/"])

31993

In [40]:
def getPOI(s) :
    return s.split("/")[0]

def getStreet(s) :
    return s.split("/")[1]

def split(s) :
    return s.split(" ")

In [41]:
df["POI"] = df["POI/street"].apply(getPOI)
df["Street"] = df["POI/street"].apply(getStreet)

In [43]:
no_poi = df[df["POI"]==""]["raw_address"]
poi = df[df["POI"]!=""]["raw_address"]

In [44]:
poi.to_csv("poi.csv", index=False)
no_poi.to_csv("no_poi.csv", index=False)

In [45]:
dft = pd.read_csv("test.csv")